@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #0D0D0D;
}

nav {
    background-color: #0D0D0D; 
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #acecff;
}

h2 {
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

h6 {
    font-weight: 300;
    color: #ffffff;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 11px;
    color: #ffffff;
}

p {
    font-size: 12px;
    font-weight: 400; 
    color: #ffffff;
    text-align: center;
}

span {
    color: #ffffff; 
    font-size: 24px;
    text-transform: uppercase;
}

/*
.palette {
    sfondo: 
    titolo:
    primary:
    secondary:
}